.btn {
    height: 65px;
    max-width: 110px;
    margin: 10px 10px;
    border: 2px solid var(--button-border);
    border-radius: 7px;
    color: white;
    background-color: var(--button-color);
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.double-btn {
    flex: 2 1;
    max-width: none;
}

.symbol-btn {
    background-color: var(--button-symbol-color);
}

.btn:hover{
    background-color: var(--button-hover);
    color: var(--button-color);
    box-shadow: 0 0 5px 1px var(--button-color);
    border: 2px solid var(--button-hover);
}

@media (max-width: 600px) {
    .btn {
        max-width: 95px;
    }
    .double-btn {
        max-width: none;
    }
}

@media (max-width: 500px) {
    .btn {
        max-width: 89px;
        margin: 10px 3px;
    }
    .double-btn {
        max-width: none;
    }
}