:root {
  --main-bg-color: #CED4DA;
  --calculator-bg-color: #6C757D;
  --blur-main-container-color: #ADB5BD;
  --button-color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-bg-color);
}

.calculator-container {
  width: 560px;
  background-color: var(--calculator-bg-color);
  border-radius: 10px;
  box-shadow: 0 0 20px 5px var(--blur-main-container-color);
  padding: 20px;
}

.fila-calculadora {
  display: flex;
  align-items: center;
  justify-content: center;
}