:root {
  --main-bg-color: #212529;
  --calculator-bg-color: #fca311;
  --button-color: #212529;
  --button-symbol-color: #2125299f;
  --button-hover: #e5e5e5;
  --button-border: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-bg-color);
}

.calculator-container {
  width: 560px;
  background-color: var(--calculator-bg-color);
  border-radius: 15px;
  box-shadow: 0 10px 10px 2px rgb(31, 29, 29);
  padding: 20px;
}

.fila-calculadora {
  display: flex;
  align-items: center;
  justify-content: center;
}